<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="color.css">
</head>
<body>
        <span th:if="${colored == 'orange'}" class = "orange">Orange</span>
        <span th:if="${colored == 'red'}" class= "red">Red</span>
        <span th:if="${colored == 'blue'}" class = "blue">Blue</span>
        <span th:if="${colored == 'lime'}" class = "lime">Lime</span>
        <span th:if="${colored == 'magenta'}" class = "magenta">Magenta</span>

</body>
</html>