.orange {
    background-color: orange;
}
.blue {
    background-color: blue;
}
.lime {
    background-color: lime;
}
.magenta {
    background-color: magenta;
}
.red {
    background-color: red;
}
.validateemail {
    background-color: green;
}
.falseemail {
    background-color: red;
}