<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Todos for today</h1>

<form action="/addTodo">
    <input type="submit" class="btn btn-warning" value="Add new Todo" />
</form>

<form th:action="@{/search}" method="get">
    <input type="text" class="btn btn-primary" name="title" />
    <input type="submit" class="btn btn-warning" value="Search Todo by Title">
</form>

<form th:action="@{/todo}" >
    <input type="submit" class="btn btn-warning" value="Back">
</form>

<table th:action="todo" th:method="post" class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">isDone</th>
        <th scope="col">isUrgent</th>
    </tr>
    </thead>
    <tbody>

    <th:block th:each="todo : ${todoList}">
        <tr>
            <td scope="row" th:text="${todo.getId()}"></td>
            <td th:text="${todo.getTitle()}"></td>
            <td>
                <span th:if="${todo.isDone()}" class="glyphicon glyphicon-ok"></span>
                <span th:unless="${todo.isDone()}" class="glyphicon glyphicon-remove"></span>
            </td>
            <td>
                <span th:if="${todo.isUrgent()}" class="glyphicon glyphicon-ok"></span>
                <span th:unless="${todo.isUrgent()}" class="glyphicon glyphicon-remove"></span>
            </td>
            <td><a th:href="@{'/' + ${todo.getId()} + '/delete'}" class="btn btn-danger" role="button" aria-pressed="true">Delete</a></td>
            <td><a th:href="@{'/' + ${todo.getId()} + '/edit'}" class="btn btn-primary" role="button" aria-pressed="true">Edit</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>


