<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Matrix Checker</h1>
<p>Check if your matrix is increasing!</p>
<p>Add a matrix and sit back while the evaluation happens.</p>
<h2>Enter your matrix</h2>
<form action="matrix" method="post">
    <textarea rows="3" cols="3" name="matrix">
    </textarea>
    <input type="submit" value="Submit">
</form>

<h4>Result:</h4>

</body>
</html>