.thead-dark {
    background: black;
    color: white;
}

body {
    background-image: url("http://getwallpapers.com/wallpaper/full/e/e/d/569680.jpg");
    background-color: #cccccc;
}

.header {
    color:white;
}

.table table-dark {
    color:white;
}
.table tr {
    color:white;
}